@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './components/';

body {
  background-color: rgba(1, 1, 116, 0.822);
  background-image: url(https://media1.giphy.com/media/YmQ4F1ccptmhFI2zuS/source.gif);
  color: brown;
  text-align: center;
  margin-top: 100px;
}
